{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: todo-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        pathType: {{ .pathType }}
        backend:
          service:
            name: {{ if eq .path "/" }}frontend-service{{ else if eq .path "/api" }}backend-service{{ end }}
            port:
              number: {{ if eq .path "/" }}80{{ else if eq .path "/api" }}5000{{ end }}
      {{- end }}
  {{- end }}
{{- end }}